@charset "UTF-8";
.section{
/* 	border : solid 1px; */
	margin-bottom: 20px;
}
#member_menu div{
	display: flex;
	align-items: center;
}
.title{
	margin : 2px 0;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgb(51 51 51);
}
.title_text{
	margin-top: 4px;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    color: rgb(153 153 153);
}
.callbox{
	display:flex;
	padding: 32px 24px;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	background-color: rgb(245 247 250);
}
.callbox_text{
	font-size: 0.8rem;
	color : rgb(153 153 153);
}
.callbtn{
	margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgb(51 51 51);
    background-color: transparent;
}
.askbtn{
	width : 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 10px;
    border : solid 2px;
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgb(51 51 51);
    border-color: rgb(235 235 235);
    padding: 10px 18px 10px 16px;
}
.section_board_title{
	margin-top : 20px;
	padding : 16px 0;
    font-size: 0.825rem;
    line-height: normal;
    font-weight: 700;
    color: rgb(51 51 51);
}
ul[role="tablist"]{
    display: flex;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior: none;
    gap: 6px 8px;
    flex-wrap: wrap;
}
ul[role="tablist"] li{
	height: 32px;
    max-width: 212px;
    padding: 2px 16px;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    font-weight: 600;
    flex: 0 0 auto;
    cursor: pointer;
    align-items: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 100px;
}
li[aria-selected="true"]{
	border : none;
    background-color: rgb(18 115 228);
    color: rgb(255, 255, 255);
}
li[aria-selected="false"]{
    border : solid 1.5px;
    border-color: rgb(235 235 235);
    background-color: rgb(255, 255, 255);
    color: rgb(51 51 51);
}
ul[role="boardlist"]{
	width: 100%;
	overflow: hidden;
}
ul[role="boardlist"] li{
	
}
.qabtn{
	display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
    border-color: rgb(235 235 235);
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}
.qaheader{
	margin-right: 8px;
    padding : 0 6px;
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgb(194 194 194);
}
.qatitle{
	display: inline-block;
}
.qacontent_container.hidden{
	display: none;
}
.qacontent_container{
	height: 100%;
    width: 100%;
    background-color: rgb(245 245 245);
    font-size: 0.9375rem;
    letter-spacing: 0px;
    color: rgb(51 51 51 );
    overflow: auto;
    padding: 20px;
}

@media (max-width: 900px){
	.main{
	    padding : 0 30px;
	}
}