@charset "UTF-8";

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .hotelInfo_main {
    margin: auto;
    margin-top: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .img_container {
    display: flex;
    height: 550px;
    margin-bottom: 20px;
  }

  .img_container img:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .main_img {
    flex: 5;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .main_img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  .side_img {
    flex: 5;
    display: flex;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 부모인 .side_img의 50% */
    /* border:2px solid magenta; */
    box-sizing: border-box;
    margin: 5px;
  }

  .row_img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 5px;
  }

  .row_img img {
    width: 100%;
    height: 100%;
  }
  .top_right_img{
	border-top-right-radius: 13px;
  }
  .bottom_right_img{
	border-bottom-right-radius: 13px;
  }
  .info_contents {
    flex: 5;
    display: flex;
    flex-direction: row-reverse;
  }

  .right_map {
    position: relative;
    flex: 2.6;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
  }
  .full_btn{
	  position: absolute;
	  z-index: 900;
	  background-color: white;
      top: 60%;
      right: 5%;
      padding: 12px 15px;
      border-radius: 50px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .full_btn:hover{
	  cursor: pointer;
	  filter: brightness(95%);
  }
  .info_center {
    flex: 7;
  }

  .star{
	  font-weight: 600;
	  color:darkslategray;
	  margin-left:5px;
  }
  .star_point > span:nth-child(1){
	  font-weight: bold;
	  font-size: 17px;
  }
  .star_point > span:nth-child(2){
    color: rgb(108, 107, 107);
  }
  .star_point a {
	  color: rgb(104, 140, 248);
	  font-weight:600;
  }
  
  .two_review{
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .first_rv{
	  height: 153px;
    width: 80%;
    display: flex;
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  .first_rv p{
	width: 100%;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: 0px;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .second_rv{
	  height: 153px;
     width: 50%;
    display: flex;
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
  }
    .second_rv::before {
      content: "";
      position: absolute;
      top: 0;
      left: 75%;
      width: 25%;
      height: 100%;
         background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 10%,
          rgba(252, 251, 251, 0.47) 45%,
          rgba(255, 255, 255, 0.521) 60%,
          rgba(248, 246, 246, 0.75) 75%,
          rgba(255, 255, 255, 0.986) 100%);
      /* 불투명한 하얀색 배경 */
      z-index: 1;
      /* 다른 내용 위에 표시하기 위해 z-index 설정 */
      pointer-events: none;
      backdrop-filter: blur(1.2px);
    }
  .second_rv p{
	width: 100%;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: 0px;
    --tw-text-opacity: 1;
    color: rgb(112 112 112 / var(--tw-text-opacity));
    word-break: break-all;
    overflow: hidden;
    /* 3줄만 표시되고 생략하게*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .nick{
	  margin-top: 5px;
	 display: block;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    text-align: right;
  }
  .w_day{
	display: block;
    font-size: 0.6875rem;
    line-height: normal;
    letter-spacing: 0px;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
    margin-top: 2px;
    text-align: right;
  }
  .fac_header {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 4px;
  }

  .fac_main {
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
    color: rgb(108, 107, 107);
  }

  .select_room {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
  }

  .select_room h4 {
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 7px;
  }

  .one_room {
    flex: 1;
    /* border: 1px solid hotpink; */
    background-color: rgb(242, 243, 244);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
    display: flex;
    margin: 10px 0;
  }

  .room_img {
    box-sizing: border-box;
    flex: 3;
    width: 100%;
    /*height: 100%;*/
    padding: 20px;
    /* border: 2px solid blue; */
  }

  .room_img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

  }

  .room_img img:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .room_info {
    box-sizing: border-box;
    flex: 6;
    width: 100%;
    height: 100%;
    /* border: 2px solid springgreen; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;

  }

  .room_info_header {
    /* border: 1px solid darkorange; */
  }

  .room_info_header h3 {
	margin-top:15px;
    margin-left: 10px;
  }

  .detail_info {
    text-align: right;
    color: rgb(10, 81, 247);
    font-size: 14px;
    font-weight: bold;
    margin: 7px 0;
    margin-right: 15px;
  }

  .detail_info:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .room_info_center {
    box-sizing: border-box;
    /* border: 1px solid gold; */
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-top: 10px;
  }

  .room_info_center .left {
    flex: 1;
    color: rgb(71, 68, 68);
    font-size: 11px;
    margin: 13px;
  }


  .room_info_center .right p {
	margin-top: 13px;
	margin-bottom: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
  }

  .room_info_center .right .qty {
    text-align: right;
    margin-right: 20px;
    font-size: 11px;
    color: red;
  }

  .reserve_room {
    margin-top: 10px;
    padding: 9px;
    border-radius: 7px;
    border: none;
    background-color: rgb(77, 120, 250);
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 17px;

  }

  .reserve_room:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  .room_info_footer {
    box-sizing: border-box;
    /* border: 1px solid orchid; */
    display: flex;
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 20px;
  }

  .room_info_footer .left {
    flex: 2;
    margin-left: 10px;
  }

  .room_info_footer .right {
    flex: 6;
  }

  #mapHead {
    width: 330px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  #map {
    /* left: 80%; */
    width: 100%;
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex: 7;
  }

  .loc {
    flex: 3;
    margin-left: 10px;
    color: rgb(112, 112, 112);
    font-size: 14px;
    /* font-weight:bold; */
  }
  hr {
	  margin : 25px 0;
	   border : 1px solid rgba(112, 108, 109, 0.1);
  }

  .room_use_info {}

  .room_use_info h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
  }

  .info_ul {
    /*margin-left: -10px;*/
    margin : 30px 0;
    margin-left: 17px;
    list-style-type: disc;
  }

  .info_ul div {
    font-weight: bold;
    /*margin-left: -20px;*/
    margin-left: -17px;
    color: darkslategray;
  }

  .info_ul li {
    font-size: 13px;
    margin: 15px 0;
    color: rgb(72, 71, 71);
  }

  .amenity {
    color: red;
  }

  .young {
    color: blue;
  }

  .warn {
    color: rgb(210, 4, 4);
    font-weight: 900;
    font-size: 14px;
  }

  .heavy {
    font-weight: bold;
    font-size: 14px;
  }

  .host_info {
	 padding: 10px 0;
    /* border: 1px solid crimson; */
    display: flex;
    justify-content: space-between;
    margin-top:-15px;
    margin-bottom: -20px;
  }
  .host_info:hover{
	  cursor: pointer;
  }
  .host_info h4 {
    flex: 1;
    /*margin-top: 0;*/
    font-weight: bold;
    font-size: 18px;
  }

  .arrow_right svg {
    flex: 1;
    width: 17px;
    height: 17px;
    fill:gray;
  }
  
  .info_footer{
	  display: flex;
	  flex-direction: column;
  }
  .footer_map{
	  flex:5;
	  width:100%;
	  margin-bottom: 60px;
  }
  .footer_map h4{
	margin-left:5px;
	font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  #wide_map{
	width: 100%;
    height: 500px;
    border-radius: 15px;
  }
  .wide_full_btn{
	  position: absolute;
	  z-index: 900;
	  background-color: white;
      top: 90%;
      right: 1%;
      padding: 12px 15px;
      border-radius: 50px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .wide_full_btn:hover{
	  cursor: pointer;
	  filter: brightness(95%);
  }
  .footer_loc{
	  font-weight: bold;
	  font-size: 16px;
	  color: rgb(72, 71, 71);
	  margin : 20px 0;
  }
  .all_review{
	  flex:5;
	  /*border:2px solid green;*/
  }
  .review_header{
	  display: flex;
	  justify-content: space-between;
  }
   .star_point2 > span:nth-child(1){
	  font-weight: bold;
	  font-size: 19px;
  }
  .star_point2 > span:nth-child(2){
    color: rgb(155, 153, 153);
      font-weight: bold;
	  font-size: 19px;
  }
  .upDesc{
	  font-weight: bold;
	  font-size: 15px;
  }
  
  .review_main{
	  display: flex;
  }
  .left_rv{
	  flex:3;
	  margin-left:15px;
  }
  .user{
	  background-color: rgb(242, 246, 247);
	  color:darkslategray;
	  font-size: 14px;
	  font-weight: 500;
  }
  .rv_nick{
	  margin:3px 0;
	  font-weight: bold;
  }
  .up_btn:hover{
	  cursor: pointer;
  }
  .right_rv{
	  flex:6;
	  display: flex;
	  flex-direction: column;
  }
  /* 별 칠하기*/
      .rating {
      font-size: 18px;
      /* 별의 크기 설정 */
      color: lightgray;
      /* 기본적으로 색이 칠해지지 않은 별의 색상 설정 */
      display: flex;
    }

    .rv_star {
      width: 15px;
      margin: 0 2px;
    }

    .rv_star:before {
      content: '\2605';
      /* 별 모양의 유니코드 사용 (별 문자) */
    }

    .filled {
      color: gold;
      /* 색이 칠해진 별의 색상 설정 */
    }
    /* 별 칠하기 끝*/
    
    .rv_wday{
	}
	.r_rv_header{
		flex:1;
		display: flex;
		margin-bottom: 15px;
	}
	.rating{
	}
	.rv_wday{
		margin-left: 15px;
		margin-top:3px;
	}
	.r_rv_center{
		flex:5;
		
	}
	.rv_img{
		max-height: 219px;
		overflow: hidden;
		transition: max-height 0.5s ease;
	}
	.rv_imgs{
		width:200px;
		height:200px;
		border-radius: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.rv_imgs:hover{
		cursor: pointer;
		filter: brightness(90%);
	}
	.img_more_btn {
      display: block;
      cursor: pointer;
      color:darkslategrey;
      font-weight: bold;
      display: none;
    }
    .img_more_btn svg{
		width: 14px;
		height: 14px;
	}
	.r_rv_footer{
		margin-top:20px;
		flex:1;
	}
	.long_rv {
      max-height: 45px; /* 초기에 표시될 최대 높이 설정 */
      overflow: hidden; /* 넘치는 부분을 숨김 */
      transition: max-height 0.5s ease; /* 트랜지션 효과 추가 */
    }
    .more_btn {
      display: block;
      cursor: pointer;
      color:darkslategrey;
      font-weight: bold;
      display: none;
    }
    .more_btn svg{
		width: 14px;
		height: 14px;
	}
    .rv_room_name{
	  color: rgb(155, 153, 153);
      font-weight: bold;
      margin : 10px 0;
	}
	
	#modal_info{
		width:100%;
		background-color: white;
		border-radius: 15px;
		overflow:auto;
	}
	#modal_info::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    #modal_info::-webkit-scrollbar-thumb {
      background: rgba(148, 141, 142, 0.1);
      /* 스크롤바 색상 */
      border-radius: 10px;
      /* 스크롤바 둥근 테두리 */
      border: 30px solid rgba(148, 141, 142, 0.1);
    }
    #modal_info::-webkit-scrollbar-track {
      /*background: rgba(148, 141, 142, 0.1);*/
      /*스크롤바 뒷 배경 색상*/
    }
    
	.d_header{
		margin-left:15px;
		margin-top:40px;
		font-weight: bold;
		font-size:1.5rem;
	}
	.r_info{
		margin-left:15px;
	}
	.r_info_del{
		font-weight: bold;
   		color: darkslategray;
   		margin-bottom:-10px;
	}
	.r_info ul:last-child{
		background-color: rgba(226, 98, 124, 0.1);
		padding: 7px 0;
		padding-left:25px;
		margin-left:-6px;
		border-radius: 8px;
	}
	.r_info ul:last-child li {
		color : red;
	}
	
	table {
      width: 90%;
      /* 테이블 전체 폭 설정 (예제에서는 화면의 50%) */
      border-collapse: collapse;
      /* 테이블 셀 경계를 합침 */
      margin: 20px;
      /* 테이블 주변 여백 설정 */
      margin-top:30px;
    }

    th,
    td {
      border: 1px solid lightgray;
      /* 셀 테두리 스타일 및 색상 설정 */
      padding: 10px;
      /* 셀 안 여백 설정 */
      text-align: center;
      /* 셀 안 텍스트 가운데 정렬 */
      text-align: left;
    }

    colgroup {
      width: 30%;
      /* 1열의 넓이 설정 */
    }

    colgroup.col2 {
      width: 70%;
      /* 2열의 넓이 설정 */
    }

    tr td:nth-child(1) {
      border-left: none;
      color: rgba(56, 91, 91, 0.824);
      font-weight: bold;
    }

    tr td:nth-child(2) {
      border-right: none;
    }
    #h_info{
		background-color: white;
		overflow: hidden;
		border-radius: 15px;
		margin-top:50px;
	}
	.h_header{
		text-align: center;
		margin-top:40px;
	}
	.no_rv{
		text-align: center;
	}
	.no_rv h2{
		color : rgb(155, 153, 153);
		margin-bottom: 20px;
	}
	.no_rv p{
		background-color: rgb(242, 243, 244);
		padding: 5px;
		width: 20%;
		margin-left:40%;
		margin-bottom: 20px;
		transition : 2s;
	}
	.no_rv p:hover{
		cursor: pointer;
		transform: scale(1.1);
	}
	 .gogo_rv{
	  position: absolute;
	  z-index: 900;
	  background-color: rgba(255, 255, 255, 0.97);
      top: 26%;
      right: 2%;
      padding: 8px 12px;
      border-radius: 50px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      display: none;
  }
  .gogo_rv:hover{
	  cursor: pointer;
	  filter: brightness(95%);
  }