@charset "UTF-8";
main {
	width:100%;
	height:100vh;
}
block{
	display: block;
}

.id_Login{
	width:400px;
	margin: 0 auto;
}
.title{
	margin: 16px 0 20px;
}
.title h1{
	margin: 10px;
}
.login_input{
	margin: 5px 0;
}
.labeled_input_label{
	display: flex;
}
.labeled_input_label label{
	margin-bottom: 4px;
	font-size: 13px;
	font-weight: 600;
}
.dot_badge{
	display:inline-block;
	background: #f45858;
    border-radius: 50%;
    height: 4px;
    width: 4px;
}
.input-wrapper{
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 7px;
	align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 48px!important;
    justify-content: center;
}
.input-wrapper.error{
	border: 1.5px solid #f45858!important;
}
.input-wrapper:hover{
	background-color: #dbdbdb;
}

input{
	background-color: transparent;
	border: none!important;
	margin-left: 10px;
	width: 100%;
	outline: none;
	line-height: normal;
}
.errorMsg{
	visibility: hidden;
}
.errorMsg.active{
	color : red;
	visibility: visible;
}


.login_btn{
	margin-top: 20px;
	background: #1273e4;
	width:400px;
	border-radius: 10px;
    height: 56px;
    line-height: 21px;
    padding: 0 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
/* 비활성화 */
.login_btn:disabled{
	background: #fafafa!important;
    border: none;
    color: #d6d6d6!important;
    cursor: not-allowed;
}
.go_register{
	display: flex;
	justify-content : center;
}
.register_btn{
	margin : 10px;
	background-color: transparent;
	width : 200px;
	height:50px;
	line-height:50px;
	font-size: 18px;
	font-weight: 600;
	
}
