@charset "UTF-8";

main{
	max-width: 1400px;
	margin: 0 auto;
	height: 100%;
}
#main_log{
	width: 100%;
	height: 100%;
	max-height: 300px;
}
#main_log > img{
	width: 100%;
	height: 100%;
	max-height: 300px;
	object-fit : fill;
}
.slick-track{
	/* padding-left: 30px; */
	padding-right: 30px;
}
.slick-arrow{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding:10px;
	background-color: white;
	border-radius: 50%;
	z-index: 5;
	cursor: pointer;
}

.fa-solid.fa-arrow-left{
	box-shadow : 0px 2px 8px rgba(0, 0, 0, 0.24);
	left: 0%;
}
.fa-solid.fa-arrow-right{
	box-shadow : 0px 2px 8px rgba(0, 0, 0, 0.24);
	right: 0%;
}

.slick-slide.slick-active{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%; 
}

#slick_title{
	margin-left: 15px;
	
}
.slick-prev.slick-arrow.slick-disabled,
.slick-next.slick-arrow.slick-disabled{
	background-color: gray;
}
