@charset "UTF-8";
#Member_Insert_Main{
	height: 100%;
	display: flex;
	flex-direction:column;
	max-width:1400px;
	align-items: center;
}
.member_insert{
	width: 400px;
	margin: 0 auto;
	/*border: solid 1px blue;*/
}
.title{
	margin: 16px 0 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: default;
}
.title h1 {
    margin: 10px;
}
label{
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 600;
}

.box{
	display: flex;
	flex-direction: column;
	/*border: solid 1px red;*/
}
.input_wrapper{
	background-color: #f5f5f5;
    padding: 10px;
    border-radius: 7px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 48px!important;
    justify-content: space-around;
}
.select_birth{
	margin:2px;
	width: 80px;
}
#address_box{
	background-color: #f5f5f5;
    padding: 10px;
    border-radius: 7px;
}
.container{
	display: flex;
}
.input_wrapper.select{
	display: inline-block;
	flex:1;
	margin: 0 3px;
	align-self: center;
}
.input{
    background-color: transparent;
    border: none !important;
    margin-left: 10px;
    width: 100%;
    outline: none;
    line-height: normal;
}
.NoInput{
	background-color: black;
	color: #b4b4b4;
}
.error{
	border : solid 1px red;
}
.check{
	border : solid 1px blue;
}
#errorMsg{
	display : none;
	color : red
}
#errorMsg.active{
	display : block;
}
select{
	cursor: pointer;
	appearance: none;
	border: transparent;
	background: transparent;
	font-size: 15px;
	font-weight: 500;
}
.submit_btn{
	align-self: center;
	width: 200px;
	background-color: #1273e4;
	border-radius: 10px;
	color : #fff;
	padding: 5px 1px;
	font-size: larger;
	font-weight: 600;
	border: transparent;
	cursor : pointer;
}
.input_box{
	flex:3;
}
.duplicated_box{
	flex:1;
}