@charset "UTF-8";
.section{
	margin-bottom: 30px;
}
.title{
	margin-bottom: 20px;
}
.point_box{
	background-color: #f2f8ff;
	border-radius: 12px;
	padding: 20px;
}
label{
	font-size:14px;
	font-weight: 600;
	color: #1273e4;
}
p{
	font-size: 32px;
	font-weight: 700;
	color: #1273e4;
}
.point_msg{
	border-top: 1px solid #ebebeb;
}
.text_btn{
	color: #999;
	cursor: unset!important;
	font-weight: 700;
}
.count{
	color : #707070;
	padding:20px 0;
	font-size: 15px;
	font-weight: 900;
	
}