@charset "UTF-8";
#Member_info_Main{
	height: 100%;
	width: 80%;
	margin:auto;
	display: flex;
	padding-top: 10px;
	box-sizing: border-box;
}
.left_item{
	flex:3;
	width: 100%;
	height: 100%;
	max-height: 40%;
	display: flex;
	margin-right: 20px;
}
.content{
	flex:7;
	width: 100%;
	height: 100%;
	max-height: 90%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	min-width: 500px;
}
.member_check{
	width: 100%;
	border-radius: 7px;
	background-color: #f5f7fa;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	padding-left: 30px;
	padding-right:30px;
}
.member_check > * {
	flex:1;
}
.member_check > span{
	display: flex;
	justify-content: center;
	align-items: center;
}
#member_info_toogle-slider{
	display: none;
}
#member_info_toogle-slider-label{
	cursor: pointer;
	max-width: 100px;
	height: 50px;
	text-indent: -9999em;
	background-color: #dff7fa;
	border-radius: 25px;
	position: relative;
	transition : 0.3s ease-out;
}
#member_info_toogle-slider-label:after{
	content : '';
	width: 40px;
	height: 40px;
	background: #a5cace;
	position: absolute;
	border-radius: 50%;
	top : 5px;
	left : 5px;
	transition : 0.3s ease-out;
}
#member_info_toogle-slider:checked + #member_info_toogle-slider-label{
	background: #45e6ed;
}
#member_info_toogle-slider:checked + #member_info_toogle-slider-label:after{
	background: #296751;
	left : 50px;
}

#member_info_content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;	
}
#member_info_content > div{
	flex:1;
	width: 100%;
	height: 100%;
	display: flex;
}
#member_info_content > div > div{
	flex:1;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
}
#member_info_content > div > div > input{
	width: 100%;
	height: 100%;
	max-height: 30px;
	border-radius: 12px;
	border: 0;
	background-color:#c4c5c9;
	text-align: center;
	transition : 0.4s ease-out;
}
#member_info_content > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#member_info_content > div:nth-child(3) > div  > input{
	width: 50%;
}
#member_info_content > div:nth-child(3) > div{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#member_info_content > div:nth-child(3){
	max-height: 150px;
}
#member_info_content > div:last-child {
	color:#727376;
	display: flex;
}

#gender_title{
	flex:3;
	font-size: 24px;
}
#info_gender_div > div{
	display: flex;
	flex:7;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#info_gender_div > div > input{
	flex:1;
	max-width: 100px;
	max-height: 20px;
}
#info_gender_div > div > span{
	flex : 1;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	font-size:12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#out_member{
	margin-left:12px;
	color: black;
	font-weight: 500;
}
.member_info_hidden{
	font-size: 0;
	transition : 0.4s ease-out;
}
