@charset "UTF-8";

body{
	height: 100vh;
}
.reserve_main{
	padding: 60px 80px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
}

.reserve_main > div{
	width: 100%;
	height: 100%;
}
.reserve_title{
	margin-bottom: 15px;
}
.reserve_main > div:nth-child(2){
	flex:7;
	box-sizing: border-box;
}
.reserve_main > div:nth-child(3){
	flex:3;
	border:1px solid black;
	box-sizing: border-box;
}
#reserve_form > h3{
	margin-bottom: 20px;
}
input{
	padding: 20px;
	border: 0;
	border-radius: 7px;
	background-color: #e7e7e7;
	margin-bottom: 20px;
}
input[type=text]{
	width: 50%;	
	transition : 1.3s;
}
input[type=tel]{
	width: 25%;
	transition:1.3s;
}
#check_tel{
	margin-left: 20px;
}
#reserve_img_div{
	width: 100%;
	height : 100px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 15px;
}
#reserve_img_div > img{
	width: 100%;
	height : 100%;
	object-fit : fill;
	box-sizing: border-box;
}

hr:nth-child(2) {
	margin-top: 15px;
}
.payment_title{
	margin-top:15px;
	margin-bottom: 15px;
	text-align: center;
}
input[name=payment]{
	margin-left:15px;
	width: 95%;
}
.reserve_name_check,.reserve_tel_check{
	margin-top : -12px;
	color : red;
	font-size: 12px;
	display: none;
}
