@charset "UTF-8";

body{
	height: 100vh;
}
.reserve_main{
	padding: 60px 80px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	overflow: auto;
}

.reserve_main > div{
	width: 100%;
	height: 100%;
}
.reserve_title{
	margin-bottom: 15px;
}
.reserve_main > div:nth-child(2){
	flex:7;
	box-sizing: border-box;
}
.reserve_main > div:nth-child(3){
	flex:3;
	width:100%;
	height:100%;
	margin-left:20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
#reserve_form > h3{
	margin-bottom: 20px;
}
input{
	padding: 20px;
	border: 0;
	border-radius: 7px;
	background-color: #e7e7e7;
	margin-bottom: 20px;
}
input[type=text]{
	width: 50%;	
	transition : 1.3s;
}
input[type=tel]{
	width: 25%;
	transition:1.3s;
}
#check_tel{
	margin-left: 20px;
}
#reserve_img_div{
	width: 100%;
	height : 100px;
	overflow: auto;
	box-sizing: border-box;
	padding: 15px;
	display: flex;
	flex-direction: column;
}
#reserve_img_div > img{
	width: 100%;
	height : 100%;
	object-fit : fill;
	box-sizing: border-box;
}
.member_coupon_div{
	flex:1;
	min-height: 50px;
	max-height: 70px;
	border: 1px solid #e7e7e7;
	border-radius: 12px;
	padding: 12px;
	box-sizing:border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
	position: relative;
}
.member_coupon_div > div{
	flex:1;
}
.member_coupon_div > input[name=coupon]{
	position: absolute;
	top : 35%;
	right: 3%;
}
hr:nth-child(2) {
	margin-top: 15px;
}
.payment_title{
	margin-top:15px;
	margin-bottom: 15px;
	text-align: center;
}
input[name=payment]{
	margin-left:15px;
	width: 95%;
}
.reserve_name_check,.reserve_tel_check{
	margin-top : -12px;
	color : red;
	font-size: 12px;
	display: none;
}

.reser_img_secssion{
	flex:3;
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.reser_img_secssion > img{
	width:100%;
	height: 100%;
	object-fit : fill;
	
}
.reser_right_content{
	flex:7;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.reser_right_content > * {
	flex:1;
}
#reser_map{
	flex:3;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.visit_div{
	margin-top:20px;
	box-sizing:border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex1;
}
.visit_div > *{
	flex:1;
	display: flex;
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
}
.visit_div > span > input{
	margin:0;
}
.reser_date_select_div{
	display: flex;
	padding: 10px;
	box-sizing: border-box;
}
.reser_date_select_div > * {
	flex : 1;
	margin: 10px;
	box-sizing: border-box;
}
.reser_date_title_div{
	text-align: center;
}
.reser_date_people_div{
	text-align: center;
	display: flex;
	padding: 10px;
	box-sizing: border-box;	
	flex-direction: column;
}

.reser_date_people_div > input{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.reserve_add_req_div{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.reserve_add_req_div > *{
	flex:1;
} 
textarea {
	resize: none;
	width: 95%;
	box-sizing: border-box;
}
.reserve_showBox{
	margin-top:20px;
	box-sizing:border-box;
	height: 0;
	overflow: hidden;
	transition : 1.3s;
}
.reserve_view_btn{
	display: flex;
	padding: 0 60px 0 60px;
	box-sizing: border-box;
}
.reserve_view_btn > button{
	flex:1;
	position: relative;
    border: none;
    min-width: 100px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}
.reserve_view_btn > button:hover{
	transform: scale(1.2);
}
.reserve_view_btn > button:hover::after {
	content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
.reserve_view_show_btn{
	border:1px solid #e7e7e7;
}
.reserve_view_hidden_btn{
	display: none;
	flex:1;
}
#reserve_map_view{
	width: 100%;
	height: 100%;
	padd
}
#reserve_map_view > div > div{
	width: 100%;
	height: 100%;
}
#reserve_map_view > div > div > div{
	width: 100%;
	height: 100%;
}
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}