<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.HotelMapper">
	<select id="hotel_getAll" resultType="hotel">
		select * from hotel where star >= 0;
	</select>
	<select id="hotel_getName" resultType="String">
		select name from hotel where no = #{no}
	</select>
	<select id="hotel_host_getAll" resultType="hotel">
		select * from hotel where host = #{id}
	</select>
	<select id="hotel_getData" resultType="hotel">
		select * from hotel where no = #{no}
	</select>
	<select id="hotel_Host_getHotel" resultType="hotel" parameterType="String">
		select * from hotel where host = #{id}
	</select>
	<update id="hotel_update_XY" parameterType="hotel">
		update hotel set x = ${x}, y = ${y},area = ${area} where no = ${no}
	</update>
	<update id="UpdateHotelData" parameterType="hotel">
		update hotel set name = #{name}, star = #{star}, checkin = #{checkin}, checkout = #{checkout}, Fac = #{fac}, account = #{account} where no = #{no}
	</update>
	<insert id="Hotel_Insert" parameterType="hotel">
		insert into hotel(host,name,star,tel,Fac,address,area,checkin,checkout,account,x,y) values(#{host},#{name},#{star},#{tel},#{fac},#{address},#{area},#{checkin},#{checkout},#{account},#{x},#{y})
	</insert>
	<update id="hotel_accept_update_star" parameterType="String">
		UPDATE hotel SET star = star * -1 WHERE host = #{id};
	</update>
	<delete id="hotel_deleteAll_hostId" parameterType="String">
		DELETE FROM hotel where host = #{id};	
	</delete>
</mapper>