<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.ImgMapper">
	<select id="img_getHotelUrl" parameterType="Integer" resultType="String">
		select url from img where uploader = 'ho' and no = #{no}
	</select>
	<select id="img_getRoomUrl" parameterType="Integer" resultType="String">
		select url from img where uploader = 'ro' and no = #{no}
	</select>
	<select id="img_getHotelImgData" resultType="img">
		select * from img where uploader='ho' and no = #{no}
	</select>
	<select id="img_getRoomImgData" resultType="img">
	select * from img where uploader='ro' and no = #{no}
	</select>
	<delete id="Img_delete" parameterType="img">
		delete from img where uploader = #{uploader} and no = #{no} and url = #{url}
	</delete>
	<insert id="Img_InsertImg" parameterType="img">
		insert into img(uploader,no,url) values(#{uploader},#{no},#{url})
	</insert>
</mapper>