<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.MemberMapper">
	<select id="member_getAll" resultType="member">
		select * from member;
	</select>
	<select id="member_getMemberByNo" parameterType="int" resultType="member">
		select * from member where no = #{no};
	</select>
	<select id="Check_Login" resultType="member" parameterType="member">
		select * from member where id = #{id} and pw = #{pw}
	</select>
	<select id="CheckLogin_API" resultType="member">
		select * from member where id = #{id}
	</select>
	<delete id="DeleteUser_API">
		delete from member where id = #{id}
	</delete>
	<delete id="DeleteUser" parameterType="member">
		delete from member where id = #{id} and pw = #{pw}
	</delete>

	<select id="member_checkNickname" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE nickname = #{nickname};
	</select>
	<insert id="member_insertMember" parameterType="member">
		insert into member(id,pw,email,name,birth,gender,phone,address,nickname) values(#{id},#{pw},#{email},#{name},#{birth},#{gender},#{phone},#{address},#{nickname});
	</insert>
	<select id="member_checkId" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE id = #{id};
	</select>
	<select id="member_checkemail" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE email = #{email};
	</select>
	<select id="member_checkphone" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE phone = #{phone};
	</select>
	
	
</mapper>