<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.Member_CouponMapper">
	<select id="member_coupon_get" resultType="member_coupon" parameterType="String">
		select * from member_coupon where id = #{id}
	</select>
	<insert id="member_coupon_insert" parameterType="map">
		insert into member_coupon(id,name,period) values(#{id},#{name},Date_add(current_date(), interval (select period from coupon where name = #{name}) day))
	</insert>
	<select id="coupon_getdislate" resultType="int" parameterType="String">
		SELECT dislate from coupon where name = #{name};
	</select>
	<select id="coupon_getdisprice" resultType="int" parameterType="String">
		SELECT disprice from coupon where name = #{name};
	</select>
</mapper>