<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.ReserveMapper">
	<select id="Reserve_getData_Phone" resultType="reserve" parameterType="HashMap">
		select * from reserve where phone = #{phone} and name = #{name}
	</select>
	<select id="Reserve_getData" resultType="reserve" parameterType="String">
		select * from reserve where id = #{id}
	</select>
	<insert id="reserve_insertdata" parameterType="reserve">
		insert into reserve(hotel_no,room_no,name,phone,rday,dday,price,id,people,add_req,visit,uid) values(#{hotel_no},#{room_no},#{name},#{phone},#{rday},#{dday},#{price},#{id},#{people},#{add_req},#{visit},#{uid})
	</insert>
	<delete id="reserve_cancel_uid">
		delete from reserve where uid = #{uid}
	</delete>
</mapper>