<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.ReviewMapper">
	<select id="getHotelReviewCount" resultType="Integer" parameterType="Integer">
		select count(*) from review where hotel_no = #{Hotel_no};
	</select>
	
	<!-- 해당 호텔의 리뷰 , 추천순 내림차순 -->
	<select id="getAllHotelReview" resultType="review" parameterType="Integer">
		select * from review where hotel_no = #{Hotel_no} ORDER BY count DESC;
	</select>
	
	<!-- 모든 리뷰  -->
	<select id="getAllReview" resultType="review">
		select * from review;
	</select>
	<!-- 리뷰 추천수 업데이트  -->
	<update id="updateReviewCnt" parameterType="HashMap">
		update review set count = #{rec_cnt} where no = #{no};
	</update>
	<select id="review_isReserveNoInReview" parameterType="int"
		resultType="int">
		SELECT count(*) from review WHERE res_no = #{no};
	</select>
	<insert id="review_uploadReview" parameterType="reserve">insert into review(nickname,hotel_no,room_no,star_point,content,res_no) values(#{nickname},#{hotel_no},#{room_no},#{star_point},#{content},#{res_no})</insert>
</mapper>