<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Java.Mapper.RoomMapper">
	<select id="room_getName" resultType="String">
		select name from room where no = #{no}
	</select>
	<select id="room_getData" resultType="room">
		select * from room where hotel_no = #{hotel_no}
	</select>
	<select id="room_getOneRoomData" resultType="room">
	select * from room where no = #{no}
	</select>
	<update id="reserveRoom" parameterType="Integer">
		update room set total_qty = (select total_qty from (select (total_qty-1) as total_qty from room where no = #{room_no})tmp) where no = #{room_no};
	</update>
	<update id="reservecancelRoom" parameterType="Integer">
		update room set total_qty = (select total_qty from (select (total_qty+1) as total_qty from room where no = #{room_no})tmp) where no = #{room_no};
	</update>
	<update id="Room_UpdateRoomData" parameterType="room">
		update room set name = #{name}, total_qty = #{total_qty}, occ = #{occ}, price = #{price} where no = #{no}
	</update>
	<insert id="Room_InsertData" parameterType="room">
		insert into room(hotel_no,price,name,total_qty,occ,bedinfo,amenities) values(#{hotel_no},#{price},#{name},#{total_qty},#{occ},#{bedinfo},#{amenities})
	</insert>
	<delete id="Room_Host_DeleteRoom" parameterType="room">
		delete from room where hotel_no = #{hotel_no} and no = #{no}
	</delete>
</mapper>